<ion-view view-title="Dashboard" >
	
  <ion-content class="globebg">
	
      <div class="login_bg ">
		
		
			
             
            <div class="login_form">
				<div class="list card">
					<a href="#/app/quote_step_1" class="item" style="text-align: center;background-color: sienna;color: #fff;font-size: 20px;font-weight: bold;">
						<i class="icon fa fa-plus" aria-hidden="true"></i>
						 New Quote
					</a>
				</div>
				 <div class="list card">
					 <a href="#/app/listing" class="item" style="text-align: center;background-color: sienna;color: #fff;font-size: 20px;font-weight: bold;">
						<i class="icon fa fa-list" aria-hidden="true"></i>
						View all Quotes
					  </a>
				</div>
				
			</div>		
             
              
		</div>
		 
  </ion-content>
</ion-view>
