<ion-view view-title="Individual Service Costs" >
	
  <ion-content class="globebg">
	
		<div class="login_bg ">
			<div class="login_bg openasiphone">
             
				
			
			 <div class="login_form servicelist" style="margin-top:15%">
					<h2 class="h2heading">Individual Service Costs <br> (according to area {{current_quote_data.Quote.total_area}} m<sup>2</sup>).</h2>
					<form class="form-height" name="LoginForm" id="LoginForm" novalidate ng-submit="LoginForm.$valid">
					
						
						<div class = "list">
						   <div style="background-color: unset;color: #fff;border: 2px solid #fff;margin-bottom: 15px;border-radius: 5px;" class = "item" ng-repeat="value in data">{{value.title}}  <strong style="float:right"> &pound;{{value.price * current_quote_data.Quote.total_area | number : 2}}</strong></div>
						   
						</div>

						<!-- <ion-list>

						  <ion-checkbox ng-change="print()" ng-model="user.recommended_services[value.id]" ng-repeat="value in data">{{value.title}} <br> (&pound;{{value.price}} * {{value.multiplication_factor}} ) per m<sup>2</sup></ion-checkbox>
						 

						</ion-list> -->
						
                      
					 <!-- <button class="button button-assertive fullwd" ng-click="submitData()" ng-disabled="LoginForm.$invalid">
							Submit 
					</button> 
					<br>
					<br>-->
					<a class="button button-energized fullwd" href="#/app/quote_step_5">
						View Our plans
					</a>
                   
                    </form>
             </div>
			 
			 
			
					
					
             </div>
		</div> 
  </ion-content>
</ion-view>
