<ion-view view-title="Choose service" >
	
  <ion-content class="globebg">
	
		<div class="login_bg ">
			<div class="login_bg openasiphone">
             
				
			
			 <div class="login_form servicelist" style="margin-top:15%">
					<h2 class="h2heading">Individual Service Costs </h2>
					<form class="form-height" name="LoginForm" id="LoginForm" novalidate ng-submit="LoginForm.$valid">
					
					
						<!-- <ion-list>

						  <ion-checkbox ng-change="print()" ng-model="user.choosed_services[value.id]" ng-repeat="value in data">{{value.title}} <strong style="float:right;color:#fff">  &pound;{{value.price * current_quote_data.Quote.total_area | number : 2}} </strong></ion-checkbox>
						 

						</ion-list> -->
						
						<div class = "list">
						   <div style="background-color: unset;color: #fff;border: 2px solid #fff;margin-bottom: 15px;border-radius: 5px;" class = "item" ng-repeat="value in data">{{value.title}}  <strong style="float:right"> &pound;{{value.price * current_quote_data.Quote.total_area | number : 2}}</strong></div>
						   
						</div>
						<p class="tcp">Comments or notes</p>
						<label class="item item-input">
						
							<textarea style="width: 100%; height: 100px; padding: 5px;background-color: unset;color:#fff" ng-model="user.notes"  placeholder=""></textarea> 
						</label>
						
						<p class="tcp">Terms and conditions</p>
						<div class="tctext" ng-bind-html="data1"></div> 
						
						
					  
						
          
          <!-- <div class='button-bar'>
              <a class='button button-energized' ng-click='clearCanvas()'>Clear</a>
              <a class='button button-balanced' ng-click='saveCanvas()'>Save</a>
          </div> -->
          <!-- <br>
          <img ng-src='{{signature}}'/> -->
      
						
						
					 <button class="button button-assertive fullwd" ng-click="submitData()" ng-disabled="LoginForm.$invalid">
							Submit 
					</button>
					
                   
                    </form>
             </div>
			 
			 
			
					
					
             </div>
		</div> 
  </ion-content>
</ion-view>
