<ion-view view-title="Services Cost" >
	
  <ion-content class="globebg">
	
		<div class="login_bg ">
			<div class="login_bg openasiphone">
             
				
			
			 <div class="login_form planlist" style="margin-top:15%">
					<h2 class="h2heading">Choose your plan and save more.</h2>
					<form class="form-height" name="LoginForm" id="LoginForm" novalidate ng-submit="LoginForm.$valid">
					
					
						<div class="list card" ng-repeat="value in data">

							  <div class="item plan_{{value.id}}">
								
								<h2 style="font-size: 18px;

font-weight: bold;">{{value.title}}</h2>
								<p class="discount_p">{{value.discount}}% discount</p>
							  </div>

							  <div class="item item-body ">
								
								<div data-ng-bind-html="value.description">
								 
								</div>
								
							  </div>
								<table width="100%">
									<!-- <tr>
										<th width="70%" >Total Area</th>
										<th >{{current_quote_data.Quote.total_area}}</td>
									</tr>	
									<tr>
										<th >Total Services cost in this plan</th>
										<th>&pound;{{value.price}}</td>
									</tr> -->
									<tr>
										<th >Total cost</th>
										<th>&pound;{{current_quote_data.Quote.total_area * value.price | number : 2}}</td>
									</tr>
									<tr>
										<th >Discounted cost</th>
										<th> &pound;{{(current_quote_data.Quote.total_area * value.price * (100 - value.discount))/100 | number : 2}}</td>
									</tr>
									<tr>
										<th >Cost per month</th>
										<th> &pound;{{((current_quote_data.Quote.total_area * value.price * (100 - value.discount))/100 | number : 2)/12 | number : 2}}</td>
									</tr>
									<tr>
										<td colspan="2" style="text-align: center;">
										<button class="button button-assertive " ng-click="choosePlan(value.id)">
												Choose 
										</button>
										</td>
									</tr>
									
									</table>
						</div>
						
						
					  
                      
					 <button class="button button-assertive fullwd" ng-click="submitData()" ng-disabled="LoginForm.$invalid">
							No Thanks
					</button>
					
                   
                    </form>
             </div>
			 
			 
			
					
					
             </div>
		</div> 
  </ion-content>
</ion-view>
