<ion-view view-title="Please sign Here" >
	
  <ion-content class="globebg" scroll='false'>
	
		<div class="login_bg " style="padding: 5%;background-color: #fff;text-align: center;">
			<div class="login_bg openasiphone">
      
	  
          <canvas id='signatureCanvas' width='360' height='180' style='border: 1px solid black;'></canvas>
          <div class='button-bar'>
              <a class='button button-energized' ng-click='clearCanvas()'>Clear</a>
              <a class='button button-balanced' ng-click='submitData()'>Save</a>
          </div>
          </div>
          </div>
          
      </ion-content>
    </ion-view>