<ion-view view-title="Sync Data with server" >
	
  <ion-content class="globebg">
	
		<div class="login_bg ">
			<div class="login_bg openasiphone">
             
				
			
			 <div class="login_form " style="margin-top:15%">
					<h2 class="h2heading">Click below button to sync data from server.</h2>
					<form class="form-height" name="LoginForm" id="LoginForm" novalidate ng-submit="LoginForm.$valid">
					
					
							
					  
                      
					 <button class="button button-assertive" ng-click="syncData()">
							Sync Data 
					</button>
					
                   
                    </form>
             </div>
			 
			 
			
					
					
             </div>
		</div> 
  </ion-content>
</ion-view>
