<ion-view view-title="Thanks" >
	
  <ion-content class="globebg">
	
		<div class="login_bg ">
			<div class="login_bg openasiphone">
             
				
			 <div class="login_form" style="margin-top:15%">
					<Br>
					<p style="color: #fff;font-size: 18px;text-align:center;ine-height: 24px;">{{show_message}}</p>
					<form class="form-height" name="LoginForm" id="LoginForm" novalidate ng-submit="LoginForm.$valid">
					<div class="list">
					
						
						
						
                    
						
						
					<br>	
					<br>	
					<br>	
						
					  
                      
					 <button class="button button-assertive fullwd" ng-click="submitData()">
							Go To Dashboard
					</button>
					
                    </div>
                    </form>
             </div>
			 
				
			
					
					
             </div>
		</div> 
  </ion-content>
</ion-view>
